{% extends "base.html" %}

<!-- 여기선 login탭이 가장 자연스러울 것 같음 -->
<!-- TODO: 뺀것도 디자인 보기 -->
{% set current_page = 'login' %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/reset-password.css') }}">
{% endblock %}

{% block title %}Reset password{% endblock %}

{% block content %}
<div class="reset-password-container">
    <form class="reset-password-box" action="/reset-password", method="POST">
        <h2>비밀번호 변경하기</h2>

        {% if error %}
        <div class="error">{{error}}</div>
        {% endif %}
        
        <!-- required "이 제출폼을 입력하세요" 뜨게하기 -->
        <div class="input-container">
            <div class="input">
                <input type="text" id="username" name="username" placeholder=" " required/>
                <label for="username">유저이름</label>
            </div>
            <div class="input">
                <input type="password" id="new-password" name="new-password" placeholder=" " required/>
                <label for="new-password">새로운 비밀번호</label>
            </div>
        </div>

        <button type="submit">비밀번호 변경하기</button>
    </form>
</div>
{% endblock %}